<div>
  <!-- <div class="img-container">
    <ion-img src="../../../assets/open_sign.png" alt="open sign"></ion-img>
  </div> -->
  <div class="img-container">
    <ion-img src="../../../assets/closed_sign.png" alt="closed sign"></ion-img>
  </div>
  <!-- <ion-title>
    Restaurant is currently open.
  </ion-title> -->
  <ion-title>
    Restaurant is currently closed.
  </ion-title>
  <!-- <ion-button size="large" fill="outline">Force Close</ion-button> -->
  <ion-button size="large" fill="outline">Force Open</ion-button>
</div>
