 <ion-content>
    <ion-card-header>
      <ion-row>
        <ion-col size="1">
          <ion-button (click)="displayCustomerData()" fill="clear">
            <ion-icon slot="icon-only" size="large" color="primary" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
  
          <ion-card-title>{{order.userName}}</ion-card-title>
          <ion-card-subtitle>#{{order.id}}
          </ion-card-subtitle>
          <img *ngIf="order.isDelivered" src="../../assets/delivery.png" alt="delivery icon" height="30">
          <img *ngIf="!order.isDelivered" src="../../assets/take-away-outline.png" height="30">
  
        </ion-col>
        <ion-col size="4">
          <ion-text class="ion-float-right" >Estimated Time: {{order.pickUpTime}} min.</ion-text>
  
        </ion-col>
      </ion-row>
  
      <ion-row *ngIf="showCustomerData">
        <ion-col size="5">
          <div *ngIf="order.isDelivered">
  
              <ion-text>
                <span>
                  <img src="../../assets/delivery.png" alt="delivery icon" height="30">
                </span> Delivery
              </ion-text>
              <ion-text>{{order.userAddress1}} {{order.userAddress2}} - {{order.userZip}} - {{order.userCity}}</ion-text>
  
          </div>
  
          <div *ngIf="!order.isDelivered">
  
              <ion-text>
                <span>
                  <img src="../../assets/take-away-outline.png" alt="pickup icon" height="30">
                </span> Delivery
              </ion-text>
            </div>
  
        </ion-col>
  
        <ion-col size="5">
          <ion-text>Customer Contact</ion-text>
          <!-- <ion-text>{{order.userPhone}}</ion-text> THIS IS COMMENT -->
        </ion-col>
  
  
      </ion-row>
  
    </ion-card-header>
  
    <ion-card-content>
      <!-- order -->
      <ion-col *ngFor="let orderProd of order.orderProducts" class="content ion-align-items-stretch" size="7">
        <ion-row class="first-line">
          <ion-text> <span>{{orderProd.quantity}} x </span> {{orderProd.title}}</ion-text>
        </ion-row>
  
        <ng-container *ngIf="orderProd.lister.length >= 1">
          <ion-row class="liste" *ngFor="let liste of orderProd.lister">
            <ion-text>
              <span class="title">
                {{liste.title}}:
              </span>
              <span *ngIf="liste.isRadio">{{liste.selection.name}};</span> <span *ngIf="!liste.isRadio"> <span
                  *ngFor="let selection of liste.selection; let i= index;"><span>{{selection.name}} </span> <span
                    *ngIf="i < liste.selection.length -1">, </span> </span> </span>
            </ion-text>
          </ion-row>
        </ng-container>
        <ion-row class="msg" *ngIf="orderProd.message">"{{orderProd.message}}"</ion-row>
  
        <ion-row class="last-row">
          <ion-text>{{orderProd.total}}kr.</ion-text>
        </ion-row>
      </ion-col>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-row *ngIf="displayOptions">
      <ion-button fill="outline">DELAY 10 MIN.</ion-button> 
      <ion-button fill="outline">ESTABLISH DELAY</ion-button> 
      <ion-button color="secondary" (click)="manageOrder(order.id, order.orderStatus, 4, false)" >decline ORDER</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="showOptions()" fill="outline">OPTIONS</ion-button> <ion-button (click)="manageOrder(order.id, order.orderStatus, 1, false)" >CONFIRM ORDER</ion-button>
    </ion-row>
 </ion-content>
