<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">

        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button>
              <ion-button color="primary" fill="clear"><ion-icon slot="start" name="menu"></ion-icon>MENU</ion-button>

            </ion-menu-button>
            <ion-button (click)="force()" color="primary" fill="outline"> <ion-icon slot="start"
                name="close-circle-outline"></ion-icon>
              FORCE
              CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>

      <ion-col class="tabs-panel">
        <ion-button class="btn" [class.btn-selected]="selectedTab == 'new-orders'" (click)="selectTab('new-orders')"
          color="light"> <ion-icon color="primary" slot="start"
            [name]="selectedTab == 'new-orders' ? 'document-text' : 'document-text-outline'"></ion-icon>
          NEW ORDERS
          <ion-badge *ngIf="orders.newOrders.length > 0" color="primary" slot="end">{{orders.newOrders.length}}</ion-badge>
        </ion-button>
        <ion-button [class.btn-selected]="selectedTab == 'in-progress'" (click)="selectTab('in-progress')"
          color="light"> <ion-icon color="primary" slot="start"
            [name]="selectedTab == 'in-progress' ? 'bag' : 'bag-outline'"></ion-icon>
          IN PROGRESS</ion-button>
        <ion-button [class.btn-selected]="selectedTab == 'history'" (click)="selectTab('history')" color="light">
          <ion-icon color="primary" slot="start"
            [name]="selectedTab == 'history' ? 'timer' : 'timer-outline'"></ion-icon> HISTORY</ion-button>

      </ion-col>
      <ion-col class="ion-float-right" size="3">
        <ion-button>SHOP</ion-button>

      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content class="ion-padding" color="light">


    <app-emptydsh *ngIf="selectedTab == 'empty'"></app-emptydsh>


    <div class="ion-padding" *ngIf="selectedTab == 'new-orders'" class="dashboard-padding">

      <ion-item *ngFor="let order of orders.newOrders" (click)="openPopover(order.id, $event)" button detail="true">
        <ion-label>
          <ion-text color="primary">#{{order.id}} </ion-text>
          <ion-text class="ion-text-capitalize">{{order.userName}}</ion-text></ion-label>
      </ion-item>
    </div>


    <ion-accordion-group *ngIf="selectedTab == 'in-progress'" class="dashboard-padding">
      <ion-accordion *ngFor="let order of orders.inProgress">
        <ion-item slot="header" color="warning">
          <ion-label>
            <ion-row>
              <ion-col>
                <ion-text>
                  {{order.userName}}
                </ion-text>
                <ion-text>
                  {{order.id}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text>PREPARATION TIME DUE:</ion-text>
                <ion-text>{{order.prepTimestamp}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-order-details [order]="order" ></app-order-details>
          <ion-row>
            <ion-button fill="outline" (click)="openCustomerPopover()">
              <ion-icon slot="start" name="call-outline"></ion-icon>
              CONTACT CUSTOMER
            </ion-button>
            <ion-button (click)="proceedOrder(order.id)">
              <ion-icon slot="start" name="bag-check-outline"></ion-icon>
              PROCEED TO DELIVERY
            </ion-button>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>


    <ion-accordion-group *ngIf="selectedTab == 'history'" class="dashboard-padding">
      <ion-accordion *ngFor="let order of orders.history" >
        <ion-item slot="header" color="warning">
          <ion-label>
            <ion-row>
              <ion-col>
                {{order.userName}}
                {{order.id}}
              </ion-col>
              <ion-col>
                <ion-text>PREPARATION TIME DUE:</ion-text>
                <ion-text>{{order.prepTimestamp}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{order.userAddress1}}
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</div>