ion-menu-button {

    width: max-content;

}

.ion-page {



    .tabs-panel {
        display: flex;
        justify-content: space-around;

        ion-button {
            --box-shadow: none;
            --padding-bottom: 1rem;
            --padding-start: 1rem;
            --padding-top: 1rem;
            --padding-end: 1rem;
        }

    }
    
    .btn-selected {
        --border-color: var(--ion-color-primary);
        --border-width: 2px;
        --border-style: solid;
    }

    ion-card-header {
        border-bottom: 2px solid var(--ion-color-primary);
        margin-inline: 1rem;
    }

    .dashboard-padding {
        padding-inline: 20%;
    }

}