<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="3">

        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button>
              <ion-button color="primary" fill="clear"><ion-icon slot="start" name="menu"></ion-icon>MENU</ion-button>

            </ion-menu-button>
            <ion-button (click)="force()" color="primary" fill="outline"> <ion-icon slot="start"
                name="close-circle-outline"></ion-icon>
              FORCE
              CLOSE</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>

      <ion-col class="tabs-panel">
        <ion-button class="btn" [class.btn-selected]="selectedTab == 'new-orders'" (click)="selectTab('new-orders')"
          color="light"> <ion-icon color="primary" slot="start"
            [name]="selectedTab == 'new-orders' ? 'document-text' : 'document-text-outline'"></ion-icon>
          NEW ORDERS
          <ion-badge *ngIf="orders.newOrders.length > 0" color="primary" slot="end">{{orders.newOrders.length}}</ion-badge>
        </ion-button>
        <ion-button [class.btn-selected]="selectedTab == 'in-progress'" (click)="selectTab('in-progress')"
          color="light"> <ion-icon color="primary" slot="start"
            [name]="selectedTab == 'in-progress' ? 'bag' : 'bag-outline'"></ion-icon>
          IN PROGRESS</ion-button>
        <ion-button [class.btn-selected]="selectedTab == 'history'" (click)="selectTab('history')" color="light">
          <ion-icon color="primary" slot="start"
            [name]="selectedTab == 'history' ? 'timer' : 'timer-outline'"></ion-icon> HISTORY</ion-button>

      </ion-col>
      <ion-col class="ion-float-right" size="3">
        <ion-button>SHOP</ion-button>

      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content class="ion-padding" color="light">


    <app-emptydsh *ngIf="selectedTab == 'empty'"></app-emptydsh>


    <div class="ion-padding" *ngIf="selectedTab == 'new-orders'" class="new-orders-dashboard">


            <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size="1">
              <ion-button (click)="displayCustomerData()" fill="clear">
                <ion-icon slot="icon-only" size="large" color="primary" name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">

              <ion-card-title>{{orders.newOrders[0].userName}}</ion-card-title>
              <ion-card-subtitle>#{{orders.newOrders[0].id}}
              </ion-card-subtitle>
              <img *ngIf="orders.newOrders[0].isDelivered" src="../../assets/delivery.png" alt="delivery icon" height="30">
              <img *ngIf="!orders.newOrders[0].isDelivered" src="../../assets/take-away-outline.png" height="30">

            </ion-col>
            <ion-col size="4">
              <ion-text class="ion-float-right" >Estimated Time: {{orders.newOrders[0].pickUpTime}} min.</ion-text>

            </ion-col>
          </ion-row>

          <ion-row *ngIf="showCustomerData">
            <ion-col size="5">
              <div *ngIf="orders.newOrders[0].isDelivered">
 
                  <ion-text>
                    <span>
                      <img src="../../assets/delivery.png" alt="delivery icon" height="30">
                    </span> Delivery
                  </ion-text>
                  <ion-text>{{orders.newOrders[0].userAddress1}} {{orders.newOrders[0].userAddress2}} - {{orders.newOrders[0].userZip}} - {{orders.newOrders[0].userCity}}</ion-text>

              </div>

              <div *ngIf="!orders.newOrders[0].isDelivered">

                  <ion-text>
                    <span>
                      <img src="../../assets/take-away-outline.png" alt="pickup icon" height="30">
                    </span> Delivery
                  </ion-text>
                </div>

            </ion-col>

            <ion-col size="5">
              <ion-text>Customer Contact</ion-text>
              <!-- <ion-text>{{orders.newOrders[0].userPhone}}</ion-text> -->
            </ion-col>


          </ion-row>

        </ion-card-header>

        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-row *ngIf="displayOptions">
          <ion-button fill="outline">DELAY 10 MIN.</ion-button> 
          <ion-button fill="outline">ESTABLISH DELAY</ion-button> 
          <ion-button color="secondary">decline ORDER</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-button (click)="showOptions()" fill="outline">OPTIONS</ion-button> <ion-button>CONFIRM ORDER</ion-button>
        </ion-row>
      </ion-card>
    </div>


    <ion-accordion-group *ngIf="selectedTab == 'in-progress'">
      <ion-accordion *ngFor="let order of orders.inProgress">
        <ion-item slot="header" color="warning">
          <ion-label>{{order.userName}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{order.userAddress1}}
        </div>
      </ion-accordion>
    </ion-accordion-group>


    <ion-accordion-group *ngIf="selectedTab == 'history'">
      <ion-accordion *ngFor="let order of orders.history" >
        <ion-item slot="header" color="warning">
          <ion-label>{{order.userName}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{order.userAddress1}}
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</div>